<footer class="tm-footer">
  <div class="tm-us">
    <p class="bold">About Us</p>
    
      <p>We are a team of 5 persons from "Faculty of Computers and Information" we build this website to help people to find Hotel instead of going to anywhere finally, We hope you will enjoy thanks </p>
        <br>
        <h2>Team Members <hr> Alaa Morsy Fathy <br> AbdulRahman Mashhour Syed <br> Sameh Ahmed Fawzy <br> Abdullah Emad Al-Din <br> Hossam Hassan Abdel-Maksoud</h2>
  </div>

  <div class="tm-address">
      <p class="bold">Address:</p>
      <p>Egypt : Fayoum</p>
      <p class="bold">Phone:</p>
      <p>Phone : 000_000_000_0</p>
      <p class="bold">Email:</p>
      <p>Email : mail@info.com</p>
      <p><b>&#169; Copy rights for Online Hotel Reservation</b></p>
  </div>

</footer>